html {
  font-family: Montserrat, sans-serif;
  color: #2170ad;
}

p {
  color: #000;
}

hr {
  margin: 0 auto;
  max-width: 70%;
  border: 1px solid #889fb1;
}

.h2-break {
  max-width: 10em;
  color: #fff;
}

.masthead {
  background-color: #416f93;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.banner-content {
  margin-left: 1em;
}

.btn {
  color: #fff;
  background-color: #416f93;
  border: none;
  border-radius: 6px;
}

.btn:hover {
  background-color: #fc9762;
  color: #fff;
}

.btn-1 {
  background-color: #416f93;
  border-radius: 6px;
}

.btn-1:hover {
  background-color: #fc9762;
  color: #fff;
}

.banner-index {
  background: linear-gradient(to right, rgba(30, 9, 88, .2), rgba(30, 9, 88, 0)), url("../images/banner.jpg");
  height: 50vh;
  background-size: cover;
  min-height: 16em;
  overflow: hidden;
  background-position: center;
}

.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(252, 151, 98, 1));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .9);
  transition: all .2s linear;
}

.hover-box:focus {
  z-index: 10;
}

.hover-box:hover .hover-box-caption, .hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(50%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img, .hover-box:focus .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.p-foot {
  background-color: #416f93;
  color: #fff;
}

.btn-footer {
  color: #fff;
}

.btn-footer:hover {
  color: #ffbf96;
}

textarea, input, select {
  border-radius: 6px;
  border-width: thin;
}

fieldset {
  border-top: 0;
}

.centerr {
  margin: 0 auto;
}

@media only screen and (min-width: 20em) {

  .nav {
    padding: .5em;
  }

  .nav li {
    padding-bottom: .5em;
  }

  .cat-text {
    padding-left: 1em;
    padding-right: 1em;
  }

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner-index {
    height: 60vh;
  }

  .banner,
  .card {
    min-height: 0;
  }

  .banner-content {
    margin-left: 3em;
  }

}
